/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.container {
    background: rgba(223, 222, 222, 0.582);
    border-bottom: solid black 10px;
    border-right: solid black 10px;
    border-left: solid black 1px;
    border-top: solid black 1px;
    
}

.numeros-reloj {
    background-color: rgb(117, 111, 111);
    width: 75px;
    font-size: 75px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75) inset;          
}


i {   
    padding-top: 15px;
    font-size: 50px;
    width: 50px;

}